<div>
    <h1>My Events</h1>
    <p style="text-align: center;"> View rooms you have previously booked</p>
    <p style="font-style: italic; text-align: center;">Click on a room for more info</p>
</div>
<h3>Upcoming Event(s)</h3>
<div class="table-container">
    <table>
        <tr><span style="font-weight: bold;">Chandler Connections</span></tr>
        <tr><span style="font-weight: bold;">Prickly Pear</span></tr>
        <tr>Bldg D Floor 1</tr>
        <tr><span style="font-weight: bold;">Networking Event</span></tr>
        <tr>April 20, 2024</tr>
        <tr>Status: <span style="font-weight: bold;">Approval in Progress</span></tr>
    </table>
    
    <table mat-table>
        <tr>
            <mat-card class="card-container">
                <img src="/assets/conference-1.png">
            </mat-card>
        </tr>
    </table>
</div>
