<p> 
    <mat-toolbar class = "firstHeader">
      <h1>Room Portal</h1>
      <h1>Role: Event Organizer</h1>
      <h1>Hi, User</h1>
      <mat-icon class="icon">person</mat-icon>
    </mat-toolbar>
    <mat-toolbar class = "secondHeader">
      <img class = "logo" src = "https://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Wells_Fargo_Logo_%282020%29.svg/1200px-Wells_Fargo_Logo_%282020%29.svg.png">
      <nav mat-tab-nav-bar class="header-nav"> 
        <a mat-tab-link routerLink="/portal">Home</a>
        <a mat-tab-link routerLink="/create">Create Event</a>
        <a mat-tab-link routerLink="/events">My Events</a>
        <a mat-tab-link routerLink="/help">Help</a>
      </nav> 

      <mat-icon class="icon">search</mat-icon>
    </mat-toolbar>
</p>

