.firstHeader{
    color: black;
    background: #fcba03;
    position: sticky;
}

.secondHeader{
    background: #de1820;
    min-height: 110px;
    color: white;
    position: sticky;
}

.matLabel{
    color: white;
    font-size: large;
    padding: 30px;
}

.logo{
    max-height: 110px;
    justify-content: left;
    margin-right: 25%;
}

.search{
    margin-left: 25%;
    transform: scale(1.5)
}