.firstHeader{
    color: black;
    background: #fcba03;
}

.secondHeader{
    background: #de1820;
    min-height: 110px;
    color: white;
    justify-content: center;
    
}

.tabs{
    color: black;
}

.logo{
    max-height: 110px;
}