<div>
    <h1>Help</h1>
    <hr>
</div>

<div class="table-container">
    <table mat-table>
        <tr><td>What type of spaces are not reserved?</td></tr>
        <tr>
            <td>
                <ul>
                    <li>Focus Rooms: Enclosed spaces used for phone calls or one on one time</li>
                    <li>Resident Space: Seating assigned to employees who commute to the office 14 or more days a month</li>
                    <li>Unassigned Space: This consists of workstations, bench seating, offices, huddle rooms, and focus rooms.
                        Spaces can be used without reservation and are available on first come first serve basis
                    </li>
                </ul>
            </td>
        </tr>
        <tr>How can I create a reservation?</tr>
        <tr>
            <ul>
                <li>In the find a room page, search your location by city, state, building, floor, or by zip-code. Enter
                    your event date and time. Enter the number of participants and the type of event. Click submit and 
                    results will appear based on your search paramters
                </li>
            </ul>
        </tr>
        <tr>Can I see what amenities are available?</tr>
        <tr>
            <ul>
                <li>If you experience technical difficulties when using the Room Portal, call your local tech connections
                     at 999-999-9999 or chat with your chat bot
                </li>
            </ul>
        </tr>
        <tr>Can I find the same space by using Outlook?</tr>
        <tr>
            <ul>
                <li>Yes, space using this tool can also be reserved using Outlook. However, the Room Portal application
                    provides options to book the room without going directly into Outlook
                </li>
            </ul>
        </tr>
        <tr>What do I do if I am experiencing technical issues?</tr>
        <tr>
            <ul>
                <li>If you experience technical difficulties when using the Room Portal, call your local tech connections
                    at 999-999-9999 or chat with your chat bot
                </li>
            </ul>
        </tr>
    </table>
</div>
