<div class="center">
    <p class = "intro">Welcome to Room Portal!</p>
    <p class = descrip>"Where seamless events planning meets convenience. Our website offers a comprehensive solution
        for discovering and booking event rooms tailored to your specific needs. Whether you're organizing a conference, gathering, 
        or celebration, our user-friendly interface provides easy access to a diverse range of venues."
    </p>
    <p class="descrip">
        Finding the perfect space has never been easier, book your room now!
    </p>
</div>

<div class="center">
    <button mat-button class="button" routerLink="/create">Create Event</button>
</div>
