h1{
    margin-top: 3%;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

h3{
    text-align: center;
}

hr{
    margin-top: 3%;
    width: 90%;
    color: #fcba03;
    background-color: #fcba03;
}

div{
    margin: 0 auto;
}

tr{
    font-size: 16px;
    text-align: center;
}

.calendar-card{
    width: 300px;
    left: 40%;
    padding: 10px;
}

.table-container{
    width: 100%;
    height: auto;
    color: black;
    font-size: 24px;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    text-align: left;
}
